# Python envs
.venv/
venv/
ENV/
env/

# Python caches
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store

# Local database and cache
chroma_db/
pipeline_cache.json
